### Rental Price Information for 2025

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

          
dataset_id = "d_c9f57187485a850908655db0e8cfe651"
url = "https://data.gov.sg/api/action/datastore_search?resource_id="  + dataset_id
        
response = requests.get(url)
data = response.json()

# Extract records
if "result" in data and "records" in data["result"]:
    df = pd.DataFrame(data["result"]["records"])
    print("Succefully transformed to dataframe")  # Display first few rows
else:
    print("Error: Unable to fetch data or invalid response format")

Succefully transformed to dataframe

In [3]:
df.head()

,_id,rent_approval_date,town,block,street_name,flat_type,monthly_rent
0,1,2021-01,ANG MO KIO,105,ANG MO KIO AVE 4,4-ROOM,2000
1,2,2021-01,ANG MO KIO,107,ANG MO KIO AVE 4,3-ROOM,1750
2,3,2021-01,ANG MO KIO,108,ANG MO KIO AVE 4,3-ROOM,1750
3,4,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2230
4,5,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2450

In [4]:
df.drop(columns = ['_id'], inplace = True)
df.head()

,rent_approval_date,town,block,street_name,flat_type,monthly_rent
0,2021-01,ANG MO KIO,105,ANG MO KIO AVE 4,4-ROOM,2000
1,2021-01,ANG MO KIO,107,ANG MO KIO AVE 4,3-ROOM,1750
2,2021-01,ANG MO KIO,108,ANG MO KIO AVE 4,3-ROOM,1750
3,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2230
4,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2450

How to clean it next?