### Rental Price Information for 2025

In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

          
dataset_id = "d_c9f57187485a850908655db0e8cfe651"
url = "https://data.gov.sg/api/action/datastore_search?resource_id="  + dataset_id
        
response = requests.get(url)
data = response.json()

# Extract records
if "result" in data and "records" in data["result"]:
    df = pd.DataFrame(data["result"]["records"])
    print("Succefully transformed to dataframe")  # Display first few rows
else:
    print("Error: Unable to fetch data or invalid response format")

Succefully transformed to dataframe

In [8]:
import numpy as np

In [3]:
df.head()

,_id,rent_approval_date,town,block,street_name,flat_type,monthly_rent
0,1,2021-01,ANG MO KIO,105,ANG MO KIO AVE 4,4-ROOM,2000
1,2,2021-01,ANG MO KIO,107,ANG MO KIO AVE 4,3-ROOM,1750
2,3,2021-01,ANG MO KIO,108,ANG MO KIO AVE 4,3-ROOM,1750
3,4,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2230
4,5,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2450

In [4]:
df.drop(columns = ['_id'], inplace = True)
df.head()

,rent_approval_date,town,block,street_name,flat_type,monthly_rent
0,2021-01,ANG MO KIO,105,ANG MO KIO AVE 4,4-ROOM,2000
1,2021-01,ANG MO KIO,107,ANG MO KIO AVE 4,3-ROOM,1750
2,2021-01,ANG MO KIO,108,ANG MO KIO AVE 4,3-ROOM,1750
3,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2230
4,2021-01,ANG MO KIO,111,ANG MO KIO AVE 4,5-ROOM,2450

### Median Rent By Town And Flat Type

In [5]:
dataset_id_rent = "d_23000a00c52996c55106084ed0339566"
url_rent = "https://data.gov.sg/api/action/datastore_search?resource_id="  + dataset_id_rent
        
response_rent = requests.get(url_rent)
data_rent = response_rent.json()

# Extract records
if "result" in data_rent and "records" in data_rent["result"]:
    rent_town = pd.DataFrame(data_rent["result"]["records"])
    print("Succefully transformed to dataframe")  # Display first few rows
else:
    print("Error: Unable to fetch data or invalid response format")

Succefully transformed to dataframe

In [ ]:
rent_town.drop(columns=['_id'], inplace = True)

In [ ]:
rent_town['median_rent'] = pd.to_numeric(rent_town['median_rent'], errors='coerce')
rent_town['median_rent'] = rent_town['median_rent'].replace('na', np.nan)
rent_town['median_rent'] = rent_town['median_rent'].replace('-', np.nan)
#rent_town.head()

   quarter        town flat_type  median_rent
0  2005-Q2  ANG MO KIO      1-RM          NaN
1  2005-Q2  ANG MO KIO      2-RM          NaN
2  2005-Q2  ANG MO KIO      3-RM        800.0
3  2005-Q2  ANG MO KIO      4-RM        950.0
4  2005-Q2  ANG MO KIO      5-RM          NaN