In [1]:
import pandas as pd
import numpy as np

In [87]:
df_resale = pd.read_csv('../data/cleaned/resale_price_cleaned.csv')

### Add inflation-adjusted resale price
Real Price = Nominal Price * (CPI Base Year/ CPI Curret Month)

In [6]:
df_deflated_resale = df_resale.copy()
cpi_base = 100
df_deflated_resale["deflated_resale_price"] = df_deflated_resale["resale_price"] * (100/ df_deflated_resale["CPI (base 2024-12)"])

### Year, Month

In [88]:
df_resale['month'] = pd.to_datetime(df_resale['month'])
df_resale['year'] = df_resale['month'].dt.year
df_resale['month'] = df_resale['month'].dt.month

### Drop correlated variables

In [89]:
df_resale.dropna(inplace = True)

In [90]:
df_resale.drop(columns = ['flat_type', 'building_age_2025', 'total_unemployment_rate', 'flat_model',
                                   'CPI (base 2024-12)'], inplace = True)

In [79]:
df_resale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196986 entries, 0 to 201058
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   month                       196986 non-null  int64
 1   town                        196986 non-null  object
 2   storey_range                196986 non-null  int64
 3   floor_area_sqm              196986 non-null  float64
 4   remaining_lease             196986 non-null  float64
 5   resale_price                196986 non-null  float64
 6   lat                         196986 non-null  float64
 7   lon                         196986 non-null  float64
 8   nearest_mrt_distance        196986 non-null  float64
 9   nearest_bus_distance        196986 non-null  float64
 10  education_score             196986 non-null  float64
 11  shopping_score              196986 non-null  float64
 12  food_score                  196986 non-null  float64
 13  recreation_score            196986 non-null  float64
 14  healthcare_score            196986 non-null  float64
 15  inflation_rate (x100)       196986 non-null  float64
 16  resident_unemployment_rate  196986 non-null  float64
 17  interest_rate               196986 non-null  float64
 18  fx_rate                     196986 non-null  float64
 19  avg_household_income        196986 non-null  float64
 20  year                        196986 non-null  int64
dtypes: float64(17), int64(3), object(1)
memory usage: 33.1+ MB

In [9]:
import os

current_directory = os.getcwd()
print(current_directory)

/Users/judy/Desktop/DSE3101-Project/DSE3101-HDB-Decode/code

### Add ethnicity and religion columns

In [91]:
df_2 = pd.read_csv("../data/cleaned/resale_price_normalized_demo.csv")

In [69]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196986 entries, 0 to 196985
Data columns (total 38 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   month                         196986 non-null  object
 1   town                          196986 non-null  object
 2   flat_type                     196986 non-null  float64
 3   storey_range                  196986 non-null  float64
 4   floor_area_sqm                196986 non-null  float64
 5   flat_model                    196986 non-null  object
 6   remaining_lease               196986 non-null  float64
 7   resale_price                  196986 non-null  float64
 8   lat                           196986 non-null  float64
 9   lon                           196986 non-null  float64
 10  nearest_mrt_distance          196986 non-null  float64
 11  nearest_bus_distance          196986 non-null  float64
 12  education_score               196986 non-null  float64
 13  shopping_score                196986 non-null  float64
 14  food_score                    196986 non-null  float64
 15  recreation_score              196986 non-null  float64
 16  healthcare_score              196986 non-null  float64
 17  CPI (base 2024-12)            196986 non-null  float64
 18  inflation_rate (x100)         196986 non-null  float64
 19  building_age_2025             196986 non-null  float64
 20  total_unemployment_rate       196986 non-null  float64
 21  resident_unemployment_rate    196986 non-null  float64
 22  interest_rate                 196986 non-null  float64
 23  fx_rate                       196986 non-null  float64
 24  avg_household_income          196986 non-null  float64
 25  NoReligion                    196986 non-null  float64
 26  Buddhism                      196986 non-null  float64
 27  Taoism1                       196986 non-null  float64
 28  Islam                         196986 non-null  float64
 29  Hinduism                      196986 non-null  float64
 30  Sikhism                       196986 non-null  float64
 31  Christianity_Catholic         196986 non-null  float64
 32  Christianity_OtherChristians  196986 non-null  float64
 33  OtherReligions                196986 non-null  float64
 34  Chinese                       196986 non-null  float64
 35  Malays                        196986 non-null  float64
 36  Indians                       196986 non-null  float64
 37  Others                        196986 non-null  float64
dtypes: float64(35), object(3)
memory usage: 57.1+ MB

In [92]:
# from another dataset


# drop NoReligion and Others
df_2 = df_2[['town','NoReligion','Buddhism','Taoism1','Islam','Hinduism','Sikhism',
            'Christianity_Catholic','Christianity_OtherChristians','OtherReligions','Chinese', 'Malays','Indians','Others']]

df_2_selected = df_2[['town','Buddhism']]

In [93]:
df_resale = df_resale.sort_values('town').reset_index(drop=True)
df_2_sorted = df_2.sort_values('town').reset_index(drop=True)
(df_resale['town'] == df_2_sorted['town']).all()

True

In [94]:
columns_to_add = ['NoReligion','Buddhism','Taoism1','Islam','Hinduism','Sikhism','Christianity_Catholic',
                  'Christianity_OtherChristians','OtherReligions','Chinese', 'Malays','Indians','Others']

for col in columns_to_add:
    df_resale[col] = df_2_sorted[col]

Merge takes up too much RAM memory...

In [24]:
df_deflated_resale_small = df_deflated_resale.head(2000)
df_2_small = df_2.head(2000)
df_com = pd.merge(df_deflated_resale_small, df_2_small, on = 'town', how = 'left')

In [ ]:
df_com = pd.merge(df_deflated_resale, df_2_selected, on = 'town', how = 'left')

:

In [81]:
df_resale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196986 entries, 0 to 201058
Data columns (total 34 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   month                         196986 non-null  int64
 1   town                          196986 non-null  object
 2   storey_range                  196986 non-null  int64
 3   floor_area_sqm                196986 non-null  float64
 4   remaining_lease               196986 non-null  float64
 5   resale_price                  196986 non-null  float64
 6   lat                           196986 non-null  float64
 7   lon                           196986 non-null  float64
 8   nearest_mrt_distance          196986 non-null  float64
 9   nearest_bus_distance          196986 non-null  float64
 10  education_score               196986 non-null  float64
 11  shopping_score                196986 non-null  float64
 12  food_score                    196986 non-null  float64
 13  recreation_score              196986 non-null  float64
 14  healthcare_score              196986 non-null  float64
 15  inflation_rate (x100)         196986 non-null  float64
 16  resident_unemployment_rate    196986 non-null  float64
 17  interest_rate                 196986 non-null  float64
 18  fx_rate                       196986 non-null  float64
 19  avg_household_income          196986 non-null  float64
 20  year                          196986 non-null  int64
 21  NoReligion                    193060 non-null  float64
 22  Buddhism                      193060 non-null  float64
 23  Taoism1                       193060 non-null  float64
 24  Islam                         193060 non-null  float64
 25  Hinduism                      193060 non-null  float64
 26  Sikhism                       193060 non-null  float64
 27  Christianity_Catholic         193060 non-null  float64
 28  Christianity_OtherChristians  193060 non-null  float64
 29  OtherReligions                193060 non-null  float64
 30  Chinese                       193060 non-null  float64
 31  Malays                        193060 non-null  float64
 32  Indians                       193060 non-null  float64
 33  Others                        193060 non-null  float64
dtypes: float64(30), int64(3), object(1)
memory usage: 52.6+ MB

### Standardization (z-score)

In [95]:
df_resale_standardized = df_resale.copy()
def standardized(col):
    return (col - col.mean()) / col.std()

columns_to_standardized = df_resale.select_dtypes(include=['float64', 'int64']).columns.difference(['year','month','lat','lon'])
df_resale_standardized[columns_to_standardized] = df_resale[columns_to_standardized].apply(standardized)
df_resale_standardized.head()

,month,town,storey_range,floor_area_sqm,remaining_lease,resale_price,lat,lon,nearest_mrt_distance,nearest_bus_distance,...,Islam,Hinduism,Sikhism,Christianity_Catholic,Christianity_OtherChristians,OtherReligions,Chinese,Malays,Indians,Others
0,1,ANG MO KIO,0.378198,-0.208431,-1.426660,-0.151534,1.370561,103.854823,-0.151327,0.372923,...,-1.422367,-0.272024,-0.715458,1.007616,0.102796,-1.198364,5.732743e-15,-1.608913e-15,-1.121358e-14,6.562959e-15
1,5,ANG MO KIO,0.378198,-0.624584,-0.976570,-0.767368,1.362758,103.858015,1.407387,1.422031,...,-1.422367,-0.272024,-0.715458,1.007616,0.102796,-1.198364,5.732743e-15,-1.608913e-15,-1.121358e-14,6.562959e-15
2,7,ANG MO KIO,0.883747,2.122029,-0.982258,2.269221,1.362758,103.858015,1.407387,1.422031,...,-1.422367,-0.272024,-0.715458,1.007616,0.102796,-1.198364,5.732743e-15,-1.608913e-15,-1.121358e-14,6.562959e-15
3,8,ANG MO KIO,0.378198,-1.248814,-0.988657,-0.995611,1.362758,103.858015,1.407387,1.422031,...,-1.422367,-0.272024,-0.715458,1.007616,0.102796,-1.198364,5.732743e-15,-1.608913e-15,-1.121358e-14,6.562959e-15
4,1,ANG MO KIO,-0.632900,-1.248814,-1.017810,-1.085646,1.362758,103.858015,1.407387,1.422031,...,-1.422367,-0.272024,-0.715458,1.007616,0.102796,-1.198364,5.732743e-15,-1.608913e-15,-1.121358e-14,6.562959e-15

### One-Hot encoding

In [96]:
# drop the first value to avoid dummy variable trap
df_encoded = pd.get_dummies(df_resale_standardized, columns=['town'], drop_first=True)

In [100]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196986 entries, 0 to 196985
Data columns (total 58 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   month                         196986 non-null  int64
 1   storey_range                  196986 non-null  float64
 2   floor_area_sqm                196986 non-null  float64
 3   remaining_lease               196986 non-null  float64
 4   resale_price                  196986 non-null  float64
 5   lat                           196986 non-null  float64
 6   lon                           196986 non-null  float64
 7   nearest_mrt_distance          196986 non-null  float64
 8   nearest_bus_distance          196986 non-null  float64
 9   education_score               196986 non-null  float64
 10  shopping_score                196986 non-null  float64
 11  food_score                    196986 non-null  float64
 12  recreation_score              196986 non-null  float64
 13  healthcare_score              196986 non-null  float64
 14  inflation_rate (x100)         196986 non-null  float64
 15  resident_unemployment_rate    196986 non-null  float64
 16  interest_rate                 196986 non-null  float64
 17  fx_rate                       196986 non-null  float64
 18  avg_household_income          196986 non-null  float64
 19  year                          196986 non-null  int64
 20  NoReligion                    196986 non-null  float64
 21  Buddhism                      196986 non-null  float64
 22  Taoism1                       196986 non-null  float64
 23  Islam                         196986 non-null  float64
 24  Hinduism                      196986 non-null  float64
 25  Sikhism                       196986 non-null  float64
 26  Christianity_Catholic         196986 non-null  float64
 27  Christianity_OtherChristians  196986 non-null  float64
 28  OtherReligions                196986 non-null  float64
 29  Chinese                       196986 non-null  float64
 30  Malays                        196986 non-null  float64
 31  Indians                       196986 non-null  float64
 32  Others                        196986 non-null  float64
 33  town_BEDOK                    196986 non-null  uint8
 34  town_BISHAN                   196986 non-null  uint8
 35  town_BUKIT BATOK              196986 non-null  uint8
 36  town_BUKIT MERAH              196986 non-null  uint8
 37  town_BUKIT PANJANG            196986 non-null  uint8
 38  town_BUKIT TIMAH              196986 non-null  uint8
 39  town_CENTRAL AREA             196986 non-null  uint8
 40  town_CHOA CHU KANG            196986 non-null  uint8
 41  town_CLEMENTI                 196986 non-null  uint8
 42  town_GEYLANG                  196986 non-null  uint8
 43  town_HOUGANG                  196986 non-null  uint8
 44  town_JURONG EAST              196986 non-null  uint8
 45  town_JURONG WEST              196986 non-null  uint8
 46  town_KALLANG/WHAMPOA          196986 non-null  uint8
 47  town_MARINE PARADE            196986 non-null  uint8
 48  town_PASIR RIS                196986 non-null  uint8
 49  town_PUNGGOL                  196986 non-null  uint8
 50  town_QUEENSTOWN               196986 non-null  uint8
 51  town_SEMBAWANG                196986 non-null  uint8
 52  town_SENGKANG                 196986 non-null  uint8
 53  town_SERANGOON                196986 non-null  uint8
 54  town_TAMPINES                 196986 non-null  uint8
 55  town_TOA PAYOH                196986 non-null  uint8
 56  town_WOODLANDS                196986 non-null  uint8
 57  town_YISHUN                   196986 non-null  uint8
dtypes: float64(31), int64(2), uint8(25)
memory usage: 54.3 MB

In [97]:
df_encoded.to_csv('../data/cleaned/standardized_encoded_delfated_resale_price.csv', index=False)